{% form_theme form _self %}

{%- block form_widget_compound -%}
        {%- if form is rootform -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
    <td>
        <a href="#" class="js-remove btn btn-danger btn-xs">
            <i class="fa fa-trash"></i> Usuń
        </a>
    </td>
{%- endblock form_widget_compound -%}

{% block form_row %}
        <td>
            {{ form_label(form) }}
        </td>
        <td>
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </td>

{% endblock form_row %}