<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>Główne</h3>
        <ul class="nav side-menu">
            {% set activeClass = '' %}
            {% set route = app.request.get('_route') %}
            {% for item in menu %}
                {% if item['removed'] != 1 %}
                    <li class="{{ activeClass }}">
                        <a><i class="{{ item['class'] }}"></i> {{ item['title'] }} <span
                                    class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            {% for sublink in item['settings'] %}
                                {% if sublink['removed'] != 1 %}
                                    <li class="{{ sublink['url'] == route ? 'current-page' : '' }}"><a
                                                href="{{ path(sublink['url']) }}">{{ sublink['name'] }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <a><i class="{{ item['class'] }}"></i> {{ item['title'] }} <span
                                    class="fa fa-chevron-down"></span></a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    </ul>
</div>