{% form_theme form _self %}

{%- block form_widget_compound -%}
        {%- if form is rootform -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {{- block('form_rows') -}}
        <td>
            <a href="#" class="js-remove btn btn-danger btn-xs">
                <i class="fa fa-trash"></i> Usuń
            </a>
        </td>
        {{- form_rest(form) -}}
{%- endblock form_widget_compound -%}

{% block form_row %}
        <td class="{{ form.vars['name'] }}">
            {{ form_label(form) }}
        </td>
        <td class="{{ form.vars['name'] }}">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </td>

{% endblock form_row %}
