/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-07-05, 20:47:05
    Author     : Kamil
*/
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.nav .title {
  background-color: #419641;
  color: #fff;
}
fieldset {
  background-color: #f5f5f5;
  border: 1px solid #bdbdbd;
  padding: 15px;
  margin-bottom: 20px;
}
fieldset legend {
  background-color: #f5f5f5;
  border: 1px solid #bdbdbd;
  border-bottom: none;
  font-size: 1em;
  width: auto;
  padding: 10px 15px;
  margin: 0px auto 0px -16px;
}
fieldset label {
  margin-top: 0em;
  font-size: .9em;
  font-weight: normal;
}
fieldset input {
  border-radius: 0px !important;
}
fieldset .radio {
  width: 50%;
  float: left;
  margin: 10px 0px !important;
}
.pos-fix {
  position: fixed;
  background: #212121;
}
/*# sourceMappingURL=admin.css.map */