{% extends '@'~miuze_user.base_template %}

{% block content %}

            {% form_theme form 'bootstrap_3_layout.html.twig' %}
            {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal form-label-left'} }) }}  

            <div class="form-group">
                {{ form_label(form.currentPassword, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} } ) }} 
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.currentPassword) }}
                    {{ form_errors(form.currentPassword) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.plainPassword.first, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} } ) }} 
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.plainPassword.first) }}
                    {{ form_errors(form.plainPassword.first) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.plainPassword.second, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} } ) }} 
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.plainPassword.second) }}
                    {{ form_errors(form.plainPassword.second) }}
                </div>
            </div>
            
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <a href="{{ app.request.headers.get('referer')|default('/') }}" class="btn btn-primary" type="button">Cofnij</a>
                    <button class="btn btn-primary" type="reset">Wyczyść</button>
                    {{ form_widget(form.submit) }}  
                </div>
            </div>

            {{ form_end(form)}}
{% endblock content %}