<script src="{{ asset('bundles/miuzehome/js/jquery.js') }}"></script>
<script src="{{ asset('bundles/miuzehome/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/miuzehome/js/colorpicker.js') }}"></script>
<script src="{{ asset('bundles/miuzehome/js/rangeslider.min.js') }}"></script>
<script src="{{ asset('bundles/miuzehome/js/jquery.imagemapster.min.js') }}"></script>
<script src="{{ asset('bundles/miuzehome/js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
<script src="{{ asset('bundles/miuzehome/js/select2.full.min.js') }}"></script>
<script src="{{ asset('bundles/miuzehome/js/app.js') }}"></script>
<script src="{{ asset('bundles/miuzeadmin/js/socket.io.js') }}"></script>
