{% if app.session.flashbag.peekAll()|length %}
<div class="site-message alert">
    {% for type, messages in app.session.flashbag.all() %}
        {% for msg in messages%}
            <div class="alert alert-{{ type }}">{{ msg }}</div>
        {% endfor %}
    {% endfor %}
</div>
{% endif %}
<div class="ajax-message alert">
    
</div>