<aside class="col-xs-12 col-sm-4 col-lg-3 admin-menu" data-simplebar data-simplebar-auto-hide="false">
    <a href="{{ path('settings_room_index') }}" class="btn btn-warning width-100 mt-20">Pokoje</a>
    <a href="{{ path('settings_output_index') }}" class="btn btn-warning width-100 mt-2" >Wyjścia</a>
    <a href="{{ path('settings_room_index') }}" class="btn btn-warning width-100 mt-2">Wejścia</a>
    <a href="{{ path('settings_scene_index') }}" class="btn btn-warning width-100 mt-2">Sceny</a>
    <a href="{{ path('settings_topic_index') }}" class="btn btn-warning width-100 mt-2">Tematy</a>
    <a href="{{ path('settings_temperature_index') }}" class="btn btn-warning width-100 mt-2">Temperatura</a>
    <a href="{{ path('settings_yml_index') }}" class="btn btn-warning width-100 mt-2">Ustawienia zaawansowane</a>
    <a href="{{ path('user_user_index') }}" class="btn btn-warning width-100 mt-2">Użytkownicy</a>
</aside>