<script>
    if(typeof io !== 'undefined') {
        var socket = io.connect('http://192.168.0.8:8080'),
            user = {
                id: {{ app.user.id }},
                name: "{{ app.user.firstName ~ ' ' ~ app.user.lastName }}",
            }

        socket.emit('join', user);
        socket.on('news', function (news) {
            $('.ajax-message').addClass('active');
            $('.ajax-message').html('<div class="alert alert-success">' + news + '</div>');
            setTimeout(function () {
                $('.ajax-message').removeClass('active');
            }, 7000);
        });

        socket.on('change', function (marker) {
            var form = $('#form-light-click-' + marker.id);
            backClick(form);
        });
    }
</script>
