{% extends '@'~miuze_user.base_template %}

{% block content %}
    {% form_theme form with ['bootstrap_3_layout.html.twig', '@MiuzeNfc/forms/theme/collection.html.twig'] %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal form-label-left'} }) }}
    <div class="form-group">
        {{ form_label(form.code, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} } ) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.code) }}
            {{ form_errors(form.code) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.name, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} } ) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>
    </div>
    <h3>Markery</h3>
    <div class="ln_solid"></div>
    <table class="table table-striped projects">
        <thead>
        <tr>
            <th colspan="2">Marker</th>
            <th style="width:40%" colspan="2">Wartosć</th>
            <th style="width:20%">Akcja</th>
        </tr>
        </thead>
        <tbody id="markers-fields-list" data-prototype="{{ form_widget(form.actions.vars.prototype)|e }}"
               data-widget-tags="{{ '<tr class="js-list-item"></tr>'|e }}"
               data-widget-counter="{{ form.actions|length }}">
        {% for item in form.actions %}
            <tr class="js-list-item">
                <td>
                    {{ form_label(item.marker, null, {'label_attr': {'class': 'control-label'} } ) }}
                </td>
                <td>
                    {{ form_widget(item.marker) }}
                    {{ form_errors(item.marker) }}
                </td>
                <td>
                    {{ form_label(item.value, null, {'label_attr': {'class': 'control-label'} } ) }}
                </td>
                <td>
                    {{ form_widget(item.value) }}
                    {{ form_errors(item.value) }}
                </td>
                <td>
                    <a href="#" class="js-remove btn btn-danger btn-xs">
                        <i class="fa fa-trash"></i> Usuń
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td>
                <button type="button" class="add-another-collection-widget btn btn-success btn-xs"
                        data-list-selector="#markers-fields-list">
                    <i class="fa fa-plus"></i> Dodaj kolenjny
                </button>
            </td>
        </tr>
        </tfoot>
    </table>
    <div class="ln_solid"></div>
    <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <a href="{{ app.request.headers.get('referer')|default('/') }}" class="btn btn-primary"
               type="button">Cofnij</a>
            <button class="btn btn-primary" type="reset">Wyczyść</button>
            {{ form_widget(form.submit) }}
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
{% block js %}
    <script>
        jQuery(document).ready(function () {
            jQuery('.add-another-collection-widget').click(function (e) {
                setTimeout(function () {
                    selectRender();
                }, 1000)
                var list = jQuery(jQuery(this).attr('data-list-selector'));
                var counter = list.data('widget-counter') || list.children().length;

                var newWidget = list.attr('data-prototype');
                newWidget = newWidget.replace(/__name__/g, counter);
                counter++;
                list.data('widget-counter', counter);
                var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
                newElem.appendTo(list);
            });
            var $wrapper = $('#markers-fields-list');
            $wrapper.on('click', '.js-remove', function (e) {
                e.preventDefault();
                $(this).closest('.js-list-item')
                    .fadeOut()
                    .remove();
            });
        });
    </script>
{% endblock js %}