{% extends '@'~miuze_user.base_template %}
{% block title %}{{ parent() ~ ' - ' ~ action }}{% endblock %}
{% block content %}
    {% if list is empty %}
        <div class="item-list">
            <article>
                <p>Brak markerów</p>
            </article>
        </div>
    {% else %}
        <table class="table table-striped projects">
            <thead>
            <tr>
                <th style="width: 1%">#</th>
                <th>Nazwa</th>
                <th>Adres</th>
                <th>Adres Statusu</th>
                <th>Stan</th>
                <th>Sterownik</th>
                <th style="width:40%">Edytuj</th>
            </tr>
            </thead>
            <tbody>
            {% for item in list %}
                <tr id="{{ item.id }}">
                    <td>{{ item.id }}</td>
                    <td>
                        <a>{{ item.name }}</a>
                    </td>
                    <td>
                        <a>{{ item.address }}</a>
                    </td>
                    <td>
                        <a>{{ item.addressStatus }}</a>
                    </td>
                    <td>
                        {% if item.value == 1 %}
                            <span class="label label-success">ON</span>
                        {% else %}
                            <span class="label label-danger">OFF</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if item.controller is not null %}
                            <a>{{ item.controller.name }}</a>
                        {% else %}
                            <span class="label label-danger">brak sterownika</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('miuze_plc_marker_edit', {'id': item.id}) }}" class="btn btn-success btn-xs"><i
                                    class="fa fa-edit"></i> Edytuj </a>
                        <a href="{{ path('miuze_plc_marker_delete', {'id': item.id}) }}"
                           class="btn btn-danger btn-xs"><i
                                    class="fa fa-trash"></i> Usuń </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock content %}