{% extends '@'~miuze_user.base_template %}

{% block content %}
    {% form_theme form with ['bootstrap_3_layout.html.twig', '@MiuzePlc/Button/theme/collection.html.twig'] %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal form-label-left'} }) }}
    <div class="form-group">
        {{ form_label(form.name, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} } ) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.buttonType, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} } ) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.buttonType) }}
            {{ form_errors(form.buttonType) }}
        </div>
    </div>
    <h3>Markery</h3>
    <div class="ln_solid"></div>
    <div id="markers-fields-list" data-prototype="{{ form_widget(form.buttonMarker.vars.prototype)|e }}"
         data-widget-tags="{{ '<div class="row"></div>'|e }}"
         data-widget-counter="{{ form.buttonMarker|length }}">
        {% for item in form.buttonMarker %}
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group">
                    {{ form_label(item.name, null, {'label_attr': {'class': 'control-label'} } ) }}
                    {{ form_widget(item.name) }}
                    {{ form_errors(item.name) }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group">
                    {{ form_label(item.marker, null, {'label_attr': {'class': 'control-label'} } ) }}
                    {{ form_widget(item.marker) }}
                    {{ form_errors(item.marker) }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group">
                    {{ form_label(item.markerAction, null, {'label_attr': {'class': 'control-label'} } ) }}
                    {{ form_widget(item.markerAction) }}
                    {{ form_errors(item.markerAction) }}
                </div>
            </div>
        {% endfor %}
        <button type="button" class="add-another-collection-widget" data-list-selector="#markers-fields-list">Dodaj
            kolenjny
        </button>
    </div>
    <div class="ln_solid"></div>
    <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <a href="{{ app.request.headers.get('referer')|default('/') }}" class="btn btn-primary"
               type="button">Cofnij</a>
            <button class="btn btn-primary" type="reset">Wyczyść</button>
            {{ form_widget(form.submit) }}
        </div>
    </div>

{% endblock %}
{% block js %}
    <script>
        jQuery(document).ready(function () {
            jQuery('.add-another-collection-widget').click(function (e) {
                setTimeout(function () {
                    selectRender();
                },1000)
                var list = jQuery(jQuery(this).attr('data-list-selector'));
                var counter = list.data('widget-counter') || list.children().length;

                var newWidget = list.attr('data-prototype');
                newWidget = newWidget.replace(/__name__/g, counter);
                counter++;
                list.data('widget-counter', counter);
                var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
                newElem.appendTo(list);
            });
        });
    </script>
{% endblock js %}