{% extends '@'~miuze_user.base_template %}
{% block title %}{{ parent() ~ ' - ' ~ action }}{% endblock %}
{% block content %}
    {% if list is empty %}
        <div class="item-list">
            <article>
                <p>Brak przycisków</p>
            </article>
        </div>
    {% else %}
        <table class="table table-striped projects">
            <thead>
            <tr>
                <th style="width: 1%">#</th>
                <th>Nazwa</th>
                <th>Typ przycisku</th>
                <th>Ilość przypisanych markerów</th>
                <th style="width:40%">Edytuj</th>
            </tr>
            </thead>
            <tbody class="sortables">
            {% for item in list %}
                <tr id="{{ item.id }}">
                    <td>{{ item.id }}</td>
                    <td>
                        <a>{{ item.name }}</a>
                    </td>
                    <td>
                        {% if  item.buttonType is not null %}
                        <a>{{ item.buttonType.name }}</a>
                        {% else %}
                            <span class="label label-danger">Nie przypisano</span>
                        {% endif %}
                    </td>
                    <td>
                        <a>{{ item.buttonMarker |length }}</a>
                    </td>
                    <td>
                        <a href="{{ path('miuze_plc_button_edit', {'id': item.id}) }}" class="btn btn-success btn-xs"><i
                                    class="fa fa-edit"></i> Edytuj </a>
                        <a href="{{ path('miuze_plc_button_delete', {'id': item.id}) }}" class="btn btn-danger btn-xs"><i
                                    class="fa fa-trash"></i> Usuń </a>
                        <a href="{{ path('miuze_plc_button_copy', {'id': item.id}) }}" class="btn btn-info btn-xs"><i
                                    class="fa fa-copy"></i> Skopiuj </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock content %}