{% extends "@MiuzeUser//login.html.twig" %}
{% block title %}{{ parent() ~ ' - ' ~ action }}{% endblock %}
{% block content %}
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    {{ form_start(form, {'attr': {'class': 'form-signin', 'style': 'background-image: url("'~miuze_user.login_background_image~'")'} }) }}
    <h1 class="h3 mb-3 font-weight-normal">{{ miuze_user.login_title }}</h1>
    {% if error is not null %}
        <div class="alert alert-error">{{ error.message |trans }}</div>
    {% endif %}
    <div class="form-bg">
        {{ form_widget(form.username) }}
        {{ form_errors(form.username) }}
        <span class="underline"></span>
        {{ form_widget(form.password) }}
        {{ form_errors(form.password) }}
        <span class="underline"></span>
        {{ form_widget(form.remember_me) }}
        {{ form_errors(form.remember_me) }}
    </div>
    {{ form_widget(form.submit) }}

    <p class="mt-5 mb-3 text-muted">{{ miuze_user.author }} &copy; {{ "now" |date('Y') }}</p>
    {{ form_end(form) }}

{% endblock %}