<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Kamil Zawalski">
        <title>SmartHome</title>
        <!-- Bootstrap core CSS -->
        {% block stylesheet %}
            <link href="{{ asset('bundles/miuzehome/css/style.css')}}" rel="stylesheet">
        {% endblock stylesheet %}

    </head>

    <body>
        <nav class="main-nav">
            <div class="btn-navigation">
                <span></span>
                <span></span>
                <span></span>
            </div>
            {% block title %}

            {% endblock title %}
            {% set route = app.request.get('_route') %}
            <ul>
                <li><a href="{{ path('miuze_room_front_index') }}">Pulpit</a></li>
                <li><a href="{{ path('miuze_shopping_shopping_index') }}">Listy zakupowe</a></li>
                <li class="fl-right"><a href="{{ path('_logout') }}">Wyloguj</a></li>
                <li class="fl-right"><a href="{{ is_granted('ROLE_ADMIN') ? path('miuze_admin_dashboard_index') : path('miuze_user_account_settings')}}">Ustawienia</a></li>
            </ul>
            <div class="bg-nav"></div>
            <div class="btn-mobile-navigation">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>

        <div class="container-fluid main-container">
            <div class="row container-row">

                {% include '@MiuzeHome/common/sidebar.html.twig'%}
                <main class="col-xs-12 col-sm-8 col-lg-9 scrollbar">
                    {% block content %}
                    {% endblock content %}
                </main>
            </div>
        </div>
        {% include '@MiuzeHome/common/footer_wrapper.html.twig' %}
        {% include '@MiuzeHome/common/socket.html.twig' %}
        {% include '@MiuzeHome/common/messages.html.twig' %}
    {% block javascript %}
    {% endblock javascript %}
</body>
</html>
