{% extends '@'~miuze_user.base_template %}
{% block content %}

    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal form-label-left'} }) }}

    <div class="form-group">
        {{ form_label(form.name, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} } ) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.registerNumber, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} } ) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.registerNumber) }}
            {{ form_errors(form.registerNumber) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.marker, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} } ) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.marker) }}
            {{ form_errors(form.marker) }}
        </div>
    </div>
    {% if form.value is defined %}
    <div class="form-group">
        {{ form_label(form.value, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} } ) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.value) }}
            {{ form_errors(form.value) }}
        </div>
    </div>
    {% endif %}
    <div class="ln_solid"></div>
    <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <a href="{{ app.request.headers.get('referer')|default('/') }}" class="btn btn-primary" type="button">Cofnij</a>
            <button class="btn btn-primary" type="reset">Wyczyść</button>
            {{ form_widget(form.submit) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
