{% extends '@'~miuze_user.base_template %}
{% block title %}{{ parent() ~ ' - ' ~ action }}{% endblock %}
{% block content %}
    {% if list is empty %}
<div class="item-list">
    <article>
        <p>Brak rejestrów</p>
    </article>
</div>
{% else %}
    <table class="table table-striped projects">
        <thead>
        <tr>
            <th style="width: 1%">#</th>
            <th>Nazwa rejestrów</th>
            <th>Numer rejestru</th>
            <th>Wartość</th>
            <th style="width:40%">Edytuj</th>
        </tr>
        </thead>
        <tbody class="sortables">
        {% for item in list %}
            <tr id="{{ item.id }}">
                <td>{{ loop.index }}</td>
                <td>
                    {{ item.name }}
                </td>
                <td>
                    {{ item.registerNumber }}
                </td>
                <td>
                    {{ item.value }}s
                </td>
                <td>
                    <a href="{{ path('miuze_plc_register_edit', {'id': item.id}) }}" class="btn btn-success btn-xs"><i
                                class="fa fa-edit"></i> Edytuj </a>
                    <a href="{{ path('miuze_plc_register_delete', {'id': item.id}) }}" class="btn btn-danger btn-xs"><i
                                class="fa fa-trash"></i> Usuń </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock content %}
