@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat/Montserrat-Light.ttf");
    font-weight: lighter;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Roboto/Roboto-Light.ttf");
    font-weight: lighter;
}

body {
    font-family: Montserrat;
    font-weight: lighter;
}

body,
html,
.main-container {
    height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
}

.main-container > .row {
    height: inherit;
}

nav {
    overflow: auto;
    padding: 10px 0px;
    box-shadow: 0px -11px 16px 2px #0e0e0e;
    z-index: 40;
    position: fixed;
    width: 100%;
    background: #fff;
    top: 0px;
}

nav h1 {
    text-align: center;
    font-size: 0.8rem;
    text-transform: uppercase;
    margin: 0px;
}

nav ul {
    padding: 0px;
    display: block;
    float: left;
    position: absolute;
    list-style: none;
    margin: 0px;
    top: -34px;
    left: 0px;
    width: 100%;
    background: #fff;
    z-index: 40;
    transition: 0.4s;
    opacity: 0;
}

nav li {
    float: left;
}

nav li:first-of-type {
    margin-left: 55px;
}

nav li:nth-of-type(5),
nav li:nth-of-type(6) {
    float: right;
}

nav li a {
    position: relative;
    display: block;
    padding: 8px 20px;
    color: #0e0e0e;
    transition: 0.4s;
    text-decoration: none;
}

nav li a:after {
    position: absolute;
    content: '';
    left: 50%;
    top: 0px;
    width: 0px;
    height: 2px;
    background: #fefefe;
    transition-delay: 0.3s;
    transition: 0.6s;
}

nav li a:hover {
    color: #fefefe;
    background: #03da51;
    text-decoration: none;
}

nav li a:hover:after {
    width: 100%;
    left: 0px;
}

nav.active ul {
    top: 0px;
    opacity: 1;
}

.btn-navigation {
    position: absolute;
    left: 15px;
    top: 10px;
    float: left;
    width: 35px;
    z-index: 50;
    cursor: pointer;
}

.btn-navigation span {
    clear: both;
    float: left;
    display: block;
    background: #0e0e0e;
    height: 1px;
    transition: 0.4s;
}

.btn-navigation span:nth-of-type(1) {
    width: 80%;
}

.btn-navigation span:nth-of-type(2) {
    width: 50%;
    margin: 6px 0px;
}

.btn-navigation span:nth-of-type(3) {
    width: 30%;
}

.btn-navigation:hover span:nth-of-type(3) {
    width: 80%;
}

aside,
main {
    padding-top: 35px;
}

aside {
    background: #f4f3f4;
}

aside div {
    overflow-y: hidden;
}

main {
    background: #fff;
    min-height: 100vh;
    box-shadow: -11px 4px 32px -26px #000;
    z-index: 0;
}

.box-room {
    width: 100%;
    position: relative;
    margin-top: 25px;
}

.box-room figure {
    height: 140px;
    display: flex;
    align-items: flex-end;
    padding-left: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.box-room figure span {
    display: block;
    position: absolute;
    left: 25px;
    top: 15px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e0e0e0;
}

.box-room figure figcaption {
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 25px;
}

.box-room .info-room {
    height: 70px;
    background: #fff;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 15px;
    text-align: center;
}

.box-room .info-room p {
    margin: 0px;
}

.box-room .info-room .temp {
    font-size: 1.3rem;
    font-weight: bold;
    color: #474747;
    float: left;
    width: 50%;
    display: block;
}

.box-room .info-room .temp:after {
    position: relative;
    content: '';
    border-right: 2px solid #e0e0e0;
    height: 40px;
    float: right;
}

.box-room .info-room .io {
    float: left;
    width: 50%;
    font-size: 1.3rem;
    font-weight: bold;
    color: #474747;
    text-decoration: none;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-room .info-room .io:hover {
    background: #03da51;
    color: #fff;
}

.simplebar-content {
    margin-right: 7px !important;
}

.simplebar-scroll-content {
    overflow-y: scroll !important;
    /* 1 */
}

.simplebar-scroll-content::-webkit-scrollbar {
    opacity: 0;
}

.simplebar-scroll-content::-moz-scrollbars-horizontal {
    opacity: 0;
}

.simplebar-scrollbar:before {
    background: #03da51;
}

.room-main-info {
    font-size: 0.9rem;
    padding: 0px 15px;
}

.room-main-info time {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
    display: block;
    width: 100%;
    text-align: right;
    color: #e0e0e0;
}

.room-main-info span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    color: #fff;
    margin-top: 15px;
    box-shadow: 0px 0px 20px -5px #000;
    background: #ff00ae;
    background: -moz-linear-gradient(left, #ff00ae 0%, #b627e6 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #ff00ae), color-stop(100%, #b627e6));
    background: -webkit-linear-gradient(left, #ff00ae 0%, #b627e6 100%);
    background: -o-linear-gradient(left, #ff00ae 0%, #b627e6 100%);
    background: -ms-linear-gradient(left, #ff00ae 0%, #b627e6 100%);
    background: linear-gradient(to right, #ff00ae 0%, #b627e6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00ae', endColorstr='#b627e6', GradientType=1);
}

.room-main-info h2 {
    font-size: 1.6rem;
    text-align: left;
    margin-top: 25px;
    font-weight: bold;
    color: #474747;
}

.room-main-info p {
    width: 50%;
    float: left;
    font-weight: normal;
    font-size: 1.4rem;
    margin-top: 15px;
    color: #474747;
}

.room-main-info p:first-of-type {
    border-right: 2px solid #e0e0e0;
    margin-top: 45px;
    font-size: 1.6rem;
}

.room-main-info p:last-of-type {
    font-size: 3rem;
}

hr {
    border: none;
    height: 2px;
    color: #e0e0e0;
    /* old IE */
    background-color: #e0e0e0;
    /* Modern Browsers */
}

.box-switch {
    color: #474747;
}

.box-switch .icon-title {
    background: #f6f6f6;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border: 1px solid #e0e0e0;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justyfy-content: center;
    padding-top: 25px;
}

.box-switch .icon-title i {
    font-size: 4rem;
}

.box-switch .icon-title p {
    font-weight: bold;
    margin-top: 15px;
}

.box-switch .socket {
    background: #fff;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border: 1px solid #e0e0e0;
    border-top: none;
}

/* switch */
.switch {
    padding: 15px 0px;
}

.switch label {
    display: block;
    margin: 0 auto;
}

.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

input.cmn-toggle-round + label {
    padding: 2px;
    width: 55px;
    height: 25px;
    background-color: #dddddd;
    border-radius: 60px;
}

input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}

input.cmn-toggle-round + label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 60px;
    transition: background 0.4s;
}

input.cmn-toggle-round + label:after {
    width: 25px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
}

input.cmn-toggle-round:checked + label:before {
    background-color: #8ce196;
}

input.cmn-toggle-round:checked + label:after {
    margin-left: 28px;
}

/* end switch */
.box-switch {
    margin-bottom: 25px;
}

/*# sourceMappingURL=home.css.map */