/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019-01-12, 21:35:38
    Author     : Kamil
*/
.pull-right {
  float: right;
}
#accordion .card:first-of-type {
  margin-top: 20px;
}
/*# sourceMappingURL=notes.css.map */