html,
body {
  height: 100%;
}
body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.form-signin {
  /*font-family: Roboto;*/
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background: url('../gfx/login-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
.form-signin p {
  text-align: center;
}
.form-signin input,
.form-signin .checkbox,
.form-signin button {
  margin: 10px auto;
}
.form-signin input {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #000;
}
.form-signin input::placeholder,
.form-signin input:-ms-input-placeholder,
.form-signin input::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
  /* Firefox */
}
.form-signin input.form-control:focus {
  outline: 0px;
}
.form-signin button {
  display: block;
  background: #ffff f;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  border: none;
  width: 100%;
}
.form-signin h1 {
  text-align: center;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/*# sourceMappingURL=signin.css.map */