{% set route = app.request.get('_route') %}

{% for room in list %}
    <div class="box-room">
        <figure style="background-image: {{ room.image is not null ? "url('"~room.path ~room.image~"')" : "url('/bundles/miuzehome/gfx/room-bg.jpg')" }}">
            <span><i class="{{ room.icon }}"></i></span>
            <figcaption>{{ room.name }}</figcaption>
        </figure>
        <div class="info-room">
{#            {% if get_room_temp(room.id) is not null %}#}
{#                <p class="temp"> {{ get_room_temp(room.id)~'°C' }}</p>#}
{#            {% endif %}#}
            <a class="io" href="{{ path('miuze_room_front_index', {'slug': room.slug }) }}">Wejdź</a>
        </div>
    </div>
{% endfor %}
