<div class="col-xs-1 col-sm-6 col-md-5 col-lg-4 mt-2 mb-2">
    <div class="card panel panel-blind">
        <div class="card-body">
            <h5 class="card-title text-center">{{ button.name }}</h5>
            {% for item in button.buttonMarker %}
                {% include '@MiuzePlc/Twig/Buttons/action/'~ item.markerAction.action~'.html.twig' %}
            {% endfor %}
        </div>
    </div>
</div>