<div class="col-xs-1 col-sm-6 col-md-5 col-lg-4 mt-2 mb-2">
    <div class="card panel panel-onoff">
        {% for item in button.buttonMarker %}
        {% if loop.index == 1 %}
            <div class="card-body">
                <h5 class="card-title text-center">{{ item.button.name }}</h5>
                {% include '@MiuzePlc/Twig/Buttons/action/'~ item.markerAction.action~'.html.twig' %}
            </div>
        {% else %}
            {% if loop.index == 2 %}
                <div class="card-footer">
            {% endif %}
            <div class="footer-item">
                <p>{{ item.button.name }}</p>
                {% include '@MiuzePlc/Twig/Buttons/action/'~ item.markerAction.action~'.html.twig' %}
            </div>
            {% if loop.last %}
                </div>
            {% endif %}
        {% endif %}
        {% endfor %}
    </div>
</div>
