<div class="col-xs-1 col-sm-6 col-md-5 col-lg-4 mt-2 mb-2">
    <div class="card panel panel-onoff">
        <div class="card-body">
            <h5 class="card-title text-center">{{ scene.name }}</h5>
            <a class="btn btn-success ajax-get" href="{{ path('miuze_scene_change_change', {'id': scene.id}) }}">Uruchom</a>
        </div>
    </div>
</div>
