{% extends '@'~miuze_user.base_template %}
{% block title %}{{ parent() ~ ' - ' ~ action }}{% endblock %}
{% block content %}
    {% if pagination is empty %}
        <div class="item-list">
            <article>
                <p>Brak logów</p>
            </article>
        </div>
    {% else %}
        <table class="table table-striped projects">
            <thead>
            <tr>
                <th style="width: 1%">#</th>
                <th>Data modyfikacji</th>
                <th>Użytkownik</th>
                <th>Marker</th>
                <th>Stan</th>
            </tr>
            </thead>
            <tbody class="sortables">
            {% for item in pagination %}
                <tr id="{{ item.id }}">
                    <td>{{ item.id }}</td>
                    <td>{{ item.createDate | date('H:i:s d-m-Y') }}</td>
                    <td>
                        {% if item.user is not null %}
                        <a>{{ item.user.firstName ~ ' ' ~ item.user.lastName }}</a>
                        {% else %}
                            <a>Zmiana systemowa</a>
                        {% endif %}
                    </td>
                    <td>
                        <a>{{ item.marker.name }}</a>
                    </td>
                    <td>
                        {% if item.value == false %}
                        <span class="label label-danger">OFF</span>
                        {% else %}
                        <span class="label label-success">ON</span>
                        {% endif %}
                    </td>
                </td>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endif %}
{% endblock content %}