/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-07-04, 22:52:43
    Author     : Kamil
*/
@import "import/select2.min.css";
@import "import/jquery.mCustomScrollbar.min.css";
/*@import (css)"font-awesome.css";*/
@import "font-awesome.min.css";
@import "import/jquery-ui.min.css";
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-07-05, 20:47:12
    Author     : Kamil
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-07-05, 20:47:19
    Author     : Kamil
*/
@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato-Bold;
  src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: Lato-Light;
  src: url(../fonts/Lato-Light.ttf);
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-07-05, 20:47:05
    Author     : Kamil
*/
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.nav .title {
  background-color: #419641;
  color: #fff;
}
fieldset {
  background-color: #f5f5f5;
  border: 1px solid #bdbdbd;
  padding: 15px;
  margin-bottom: 20px;
}
fieldset legend {
  background-color: #f5f5f5;
  border: 1px solid #bdbdbd;
  border-bottom: none;
  font-size: 1em;
  width: auto;
  padding: 10px 15px;
  margin: 0px auto 0px -16px;
}
fieldset label {
  margin-top: 0em;
  font-size: 0.9em;
  font-weight: normal;
}
fieldset input {
  border-radius: 0px !important;
}
fieldset .radio {
  width: 50%;
  float: left;
  margin: 10px 0px !important;
}
.pos-fix {
  position: fixed;
  background: #212121;
}
body {
  margin-top: 100px;
  background-color: #fff;
}
@media (min-width: 768px) {
  body {
    margin-top: 50px;
  }
}
#wrapper {
  padding-left: 0;
}
#page-wrapper {
  width: 100%;
  padding: 0;
  background-color: #fff;
}
.huge {
  font-size: 50px;
  line-height: normal;
}
@media (min-width: 768px) {
  #wrapper {
    padding-left: 225px;
  }
  #page-wrapper {
    padding: 10px;
  }
}
/* Top Navigation */
.top-nav {
  padding: 0 15px;
}
.top-nav > li {
  display: inline-block;
  float: left;
}
.top-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  color: #999;
}
.top-nav > li > a:hover,
.top-nav > li > a:focus,
.top-nav > .open > a,
.top-nav > .open > a:hover,
.top-nav > .open > a:focus {
  color: #fff;
  background-color: #000;
}
.top-nav > .open > .dropdown-menu {
  float: left;
  position: absolute;
  margin-top: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.top-nav > .open > .dropdown-menu > li > a {
  white-space: normal;
}
ul.message-dropdown {
  padding: 0;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}
li.message-preview {
  width: 275px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
li.message-preview > a {
  padding-top: 15px;
  padding-bottom: 15px;
}
li.message-footer {
  margin: 5px 0;
}
ul.alert-dropdown {
  width: 200px;
}
/* Side Navigation */
@media (min-width: 768px) {
  .side-nav {
    position: fixed;
    top: 51px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #222;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
  }
  .side-nav li > a {
    width: 225px;
  }
  .side-nav li a:hover,
  .side-nav li a:focus {
    outline: none;
    background-color: #000 !important;
  }
}
.side-nav li ul {
  padding: 0;
}
.side-nav li ul li a {
  display: block;
  padding: 10px 15px 10px 38px;
  text-decoration: none;
  color: #999;
}
.side-nav li ul li a:hover {
  color: #fff;
}
/* Flot Chart Containers */
.flot-chart {
  display: block;
  height: 400px;
}
.flot-chart-content {
  width: 100%;
  height: 100%;
}
/* Custom Colored Panels */
.huge {
  font-size: 40px;
}
.panel-green {
  border-color: #5cb85c;
}
.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c;
}
.panel-green > a {
  color: #5cb85c;
}
.panel-green > a:hover {
  color: #3d8b3d;
}
.panel-red {
  border-color: #d9534f;
}
.panel-red > .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f;
}
.panel-red > a {
  color: #d9534f;
}
.panel-red > a:hover {
  color: #b52b27;
}
.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;
}
.panel-yellow > a {
  color: #f0ad4e;
}
.panel-yellow > a:hover {
  color: #df8a13;
}
.list ol {
  list-style: none;
}
.list .item-list {
  display: block;
  border: 1px solid #D2C7C7;
  border-radius: 0px;
  margin: 10px 0px;
  width: 100%;
  height: 70px;
  background-color: #f5f5f5;
}
.list .item-list .switch .glyphicon-off {
  color: #FF2200;
}
.list .item-list .switch.active .glyphicon-off {
  color: #2CD60F !important;
}
.list article {
  padding: 5px 10px 5px 20px;
}
.list article p {
  text-transform: uppercase;
  color: #282828;
}
.mceEditor {
  width: 100%;
}
label {
  margin-top: 30px;
}
.side-nav .fa-caret-down {
  float: right;
  margin-right: 20px;
  margin-top: 3px;
}
.navbar-inverse .navbar-nav li > a {
  color: #9d9d9d;
  line-height: 20px;
}
.navbar-nav li {
  float: left;
}
.navbar-nav li a {
  padding-top: 15px;
  padding-bottom: 15px;
}
.nav div > li {
  position: relative;
  display: block;
}
.nav div > li a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.side-nav li ul li a:hover {
  color: #fff;
}
.side-nav li a:hover,
.side-nav li a:focus {
  outline: none;
  background-color: #000 !important;
}
a {
  text-decoration: none;
}
a:hover,
a:visited,
a:focus {
  text-decoration: none;
}
.treeNode {
  background: url('../gfx/treeNode.jpg') right 37px no-repeat;
  position: relative;
}
.treeNode span[class^='fa'] {
  padding: 0;
  margin-top: 28px;
  margin-left: 10px;
  display: block;
  background: #fff;
  font-size: 0.8em;
  position: relative;
  z-index: 2;
}
.treeNode.last .cover {
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 46px;
  width: 40px;
  background: #fff;
  z-index: 1;
}
.treeNode span[class^='fa'] {
  width: 20px;
}
.treeNode span[class^='fa']::before {
  padding: 5px;
  border: 1px solid #d5d5d5;
  background: #fff;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-10-05, 21:05:17
    Author     : Kamil
*/
/**
 * Nestable
 */
.dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  max-width: 90%;
  list-style: none;
  font-size: 13px;
  line-height: 20px;
}
.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.dd-list .dd-list {
  padding-left: 30px;
}
.dd-collapsed .dd-list {
  display: none;
}
.dd-item,
.dd-empty,
.dd-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px;
  /*        border: 1px solid #D2C7C7;
        border-radius: 0px;
        box-sizing: border-box;
        width: 100%;
        min-height: 70px;
        background-color: #f5f5f5;*/
}
.dd-item .switch .glyphicon-off,
.dd-empty .switch .glyphicon-off,
.dd-placeholder .switch .glyphicon-off {
  color: #FF2200;
}
.dd-item .switch.active .glyphicon-off,
.dd-empty .switch.active .glyphicon-off,
.dd-placeholder .switch.active .glyphicon-off {
  color: #2CD60F !important;
}
.dd-handle {
  display: block;
  margin: 5px 0;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/*.dd-handle:hover { color: #2ea8e5; background: #fff; }*/
.dd-item > button {
  display: block;
  position: relative;
  cursor: pointer;
  float: left;
  width: 25px;
  height: 20px;
  margin: 5px 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
}
.dd-item > button:before {
  content: '+';
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-indent: 0;
}
.dd-item > button[data-action="collapse"]:before {
  content: '-';
}
.dd-placeholder,
.dd-empty {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #f2fbff;
  border: 1px dashed #b6bcbf;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.dd-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
  background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}
.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}
.dd-dragel > .dd-item .dd-handle {
  margin-top: 0;
}
.dd-dragel .dd-handle {
  -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
}
/**
 * Nestable Extras
 */
.nestable-lists {
  display: block;
  clear: both;
  padding: 30px 0;
  width: 100%;
  border: 0;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}
#nestable-menu {
  padding: 0;
  margin: 20px 0;
}
#nestable-output,
#nestable2-output {
  width: 100%;
  height: 7em;
  font-size: 0.75em;
  line-height: 1.333333em;
  font-family: Consolas, monospace;
  padding: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#nestable2 .dd-handle {
  color: #fff;
  border: 1px solid #999;
  background: #bbb;
  background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
  background: -moz-linear-gradient(top, #bbb 0%, #999 100%);
  background: linear-gradient(top, #bbb 0%, #999 100%);
}
#nestable2 .dd-handle:hover {
  background: #bbb;
}
#nestable2 .dd-item > button:before {
  color: #fff;
}
@media only screen and (min-width: 700px) {
  .dd {
    float: left;
    width: 100%;
  }
  .dd + .dd {
    margin-left: 2%;
  }
}
.dd-hover > .dd-handle {
  background: #2ea8e5 !important;
}
/**
 * Nestable Draggable Handles
 */
.dd3-content {
  display: block;
  height: 30px;
  margin: 5px 0;
  padding: 5px 10px 5px 40px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #ccc;
  background: #fafafa;
  background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
  background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
  background: linear-gradient(top, #fafafa 0%, #eee 100%);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.dd3-content:hover {
  color: #2ea8e5;
  background: #fff;
}
.dd-dragel > .dd3-item > .dd3-content {
  margin: 0;
}
.dd3-item > button {
  margin-left: 30px;
}
.dd3-handle {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  cursor: pointer;
  width: 30px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #aaa;
  background: #ddd;
  background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
  background: -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
  background: linear-gradient(top, #ddd 0%, #bbb 100%);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.dd3-handle:before {
  content: '≡';
  display: block;
  position: absolute;
  left: 0;
  top: 3px;
  width: 100%;
  text-align: center;
  text-indent: 0;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
}
.dd3-handle:hover {
  background: #ddd;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-07-05, 22:01:11
    Author     : Kamil
*/
.title {
  font-size: 1.6em;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.border-bottom {
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}
.text-red {
  color: #FF2200;
}
.site-message {
  width: 100%;
  min-height: 80px;
  position: fixed;
  top: -80px;
  left: 0;
  z-index: 10000;
  padding: 0;
  margin: 0;
  border: none;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
.site-message .alert {
  text-align: center;
  margin: 0px;
  padding: 0px;
  padding-top: 30px;
  padding-bottom: 25px;
  border: none;
  border-radius: 0px;
}
.site-message-show {
  top: 0px !important;
  -webkit-transition-delay: 2s;
  transition-delay: 2s;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-01-10, 20:14:22
    Author     : Kamil
*/
.page-header {
  margin-top: 10px;
}
.pageView {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  margin-left: 20px;
  border-left: 1px solid #ddd;
  padding-top: 10px;
  clear: both;
}
.pageView li {
  min-height: 74px;
  position: relative;
}
.pageView li > a {
  float: left;
  display: block;
  width: 40px;
  position: absolute;
  top: -10px;
  left: -40px;
  height: 100%;
}
.pageView li > div {
  float: left;
  width: 98%;
  padding: 0.5%;
  background: #f6f6f6;
  overflow: auto;
  border: 1px solid #d5d5d5;
}
.pageView li > div > div {
  float: right;
}
.pageView li > div > div:first-child {
  float: left;
}
.pageView li h3 {
  font-size: 0.9em;
  margin: 0;
}
.pageView li h3.nmColor {
  color: #1d1d1d;
}
.pageView li h3 a {
  color: #1d1d1d;
}
.pageView li h3 a:hover {
  color: #ed1b2f;
}
.pageView li h3 .redirectEditLink {
  font-size: 90%;
  font-weight: normal;
}
.pageActions > div {
  float: left;
  overflow: auto;
  border-left: 1px solid #ddd;
  border-right: 1px solid #fff;
  padding: 0.2em;
  margin-top: 5px;
}
.pageActions > div:first-child {
  border-left: 0;
}
.pageActions > div.last {
  border-right: 0;
}
.pageActions a {
  color: #c4c4c4;
}
.pageActions a:hover {
  color: #909090;
}
.sortPlaceholder {
  display: block;
  border: 1px dashed #ddd;
}
.pageButtons {
  margin-top: 13px;
}
.treeNode {
  background: url('../gfx/treeNode.jpg') right 37px no-repeat;
  position: relative;
}
.treeNode span[class^='icon-'] {
  padding: 0;
  margin-top: 28px;
  margin-left: 10px;
  display: block;
  background: #fff;
  font-size: 0.8em;
  border: 1px solid #d5d5d5;
  position: relative;
  z-index: 2;
}
.treeNode.last .cover {
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 46px;
  width: 40px;
  background: #fff;
  z-index: 1;
}
.sortables {
  list-style: none;
}
article a.fa,
article a .fa {
  font-size: 1.2em;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  color: #5a5a5a;
  padding-right: 10px;
}
article a.fa:hover,
article a .fa:hover {
  color: #12b6ec;
}
article a.fa.active,
article a .fa.active {
  color: #3fdd20;
}
article a.fa.disable,
article a .fa.disable {
  color: #e43939;
}
article a.fa.fa-trash,
article a .fa.fa-trash {
  color: #FF2200;
}
/*# sourceMappingURL=style.css.map */