<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Kamil Zawalski">
    <title>{% block title %}{{ miuze_user['page_title'] }}{% endblock %}</title>
    <!-- Bootstrap core CSS -->
</head>

<body class="nav-md">

{% block content %}
{% endblock content %}
</body>
</html>