<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Strona logowania do domu">
    <meta name="author" content="{{ miuze_user['author'] }}">
    <link rel="icon" href="favicon.ico">

    <title>{% block title %}{{ miuze_user['page_title'] }}{% endblock %}</title>
    {% block stylesheet %}
        <link href="{{ asset('bundles/miuzeuser/css/style.css')}}" rel="stylesheet">
    {% endblock stylesheet %}
</head>

<body class="text-center login-body">
{% block content %}
{% endblock content %}
</body>
</html>