{% extends '@'~miuze_user.base_template %}
{% block title %}{{ parent() ~ ' - ' ~ action }}{% endblock %}
{% block content %}

    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal form-label-left'} }) }}
    <div class="form-group">
        {{ form_label(form.username, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} } ) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.username) }}
            {{ form_errors(form.username) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.firstName, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} } ) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.firstName) }}
            {{ form_errors(form.firstName) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.lastName, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} } ) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.lastName) }}
            {{ form_errors(form.lastName) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.plainPassword.first, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} } ) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.plainPassword.first) }}
            {{ form_errors(form.plainPassword.first) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.plainPassword.second, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} } ) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.plainPassword.second) }}
            {{ form_errors(form.plainPassword.second) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.email, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} } ) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.phone, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} } ) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.phone) }}
            {{ form_errors(form.phone) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-3 col-sm-offset-3 col-md-6 col-sm-6 col-xs-12">
            {{ form_label(form.accountNonExpired) }}
            {{ form_widget(form.accountNonExpired) }}
            {{ form_errors(form.accountNonExpired) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.accountNonLocked) }}
        <div class="col-md-offset-3 col-sm-offset-3  col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.accountNonLocked) }}
            {{ form_errors(form.accountNonLocked) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.credentialsNonExpired) }}
        <div class="col-md-offset-3 col-sm-offset-3 col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.credentialsNonExpired) }}
            {{ form_errors(form.credentialsNonExpired) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.enabled) }}
        <div class="col-md-offset-3 col-sm-offset-3  col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.enabled) }}
            {{ form_errors(form.enabled) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.roles, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} } ) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.roles) }}
            {{ form_errors(form.roles) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.file, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} } ) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.file) }}
            {{ form_errors(form.file) }}
        </div>
    </div>

    <div class="ln_solid"></div>
    <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <a href="{{ app.request.headers.get('referer')|default('/') }}" class="btn btn-primary" type="button">Cofnij</a>
            <button class="btn btn-primary" type="reset">Wyczyść</button>
            {{ form_widget(form.submit) }}
        </div>
    </div>

    {{ form_end(form) }}
{% endblock content %}