{% extends '@'~miuze_user.base_template %}
{% block title %}{{ parent() ~ ' - ' ~ action }}{% endblock %}
{% block content %}
    {% if list is empty %}
        <div class="item-list">
            <article>
                <p>Brak użytkowników</p>
            </article>
        </div>
    {% else %}
        <table class="table table-striped projects">
            <thead>
            <tr>
                <th style="width: 1%">#</th>
                <th>Imie i nazwisko</th>
                <th>Grupa</th>
                <th style="width:40%">Edytuj</th>
            </tr>
            </thead>
            <tbody>
            {% for user in list %}
                <tr id="{{ user.id }}">
                    <td>{{ user.id }}</td>
                    <td>
                        <a>{{ user.firstName is not null ? user.firstName : '' }} {{ user.lastName is not null ? user.lastName : '' }}</a>
                    </td>
                    <td>
                        {% for role in user.roles %}
                            <span class="label label-success">{{ role }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path('miuze_user_user_change-password', {'id': user.id}) }}"
                           class="btn btn-warning btn-xs"><i class="fa fa-key"></i> Hasło </a>
                        <a href="{{ path('miuze_user_user_manage', {'id': user.id}) }}" class="btn btn-success btn-xs"><i
                                    class="fa fa-edit"></i> Edytuj </a>
                        <a href="{{ path('miuze_user_user_alarm', {'id': user.id}) }}" class="btn btn-success btn-xs"><i
                                    class="fa fa-bell-o"></i> Alarm </a>
                        <a href="{{ path('miuze_user_user_delete', {'id': user.id}) }}" class="btn btn-danger btn-xs"><i
                                    class="fa fa-trash"></i> Usuń </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock content %}