/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-07-05, 20:47:05
    Author     : Kamil
*/

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.nav{    
    .title{
        background-color: #419641;
        color: #fff;
    }    
}
fieldset{
    background-color: #f5f5f5;
    border: 1px solid #bdbdbd;
    padding: 15px;
    margin-bottom: 20px;
    legend{
        background-color: #f5f5f5;
        border: 1px solid #bdbdbd;
        border-bottom: none;
        font-size: 1em;
        width: auto;
        padding: 10px 15px;
        margin: 0px auto 0px -16px;
    }
    label{
        margin-top: 0em; 
        font-size: .9em;
        font-weight: normal;
    }
    input{
        border-radius: 0px !important;
        
    }
    textarea{
        
    }
    .radio{
        width: 50%;
        float: left;
        margin:  10px 0px !important;
    }
}
.pos-fix{
    position: fixed;
    background: #212121;
}


//old
body {
    margin-top: 100px;
    background-color: @white;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav li ul {
    padding: 0;
}

.side-nav li ul li a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav li ul li a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}
/////////////////////////////////////////////pagelist///////////////////////////
.list{
    ol{
        list-style: none;
        li{
            
        }
    }
    .item-list{
        display: block;
        border: 1px solid #D2C7C7;
        border-radius: 0px;
        margin: 10px 0px;
        width: 100%;
        height: 70px;
        background-color: #f5f5f5;
        .switch{            
            .glyphicon-off{
                color: @red;
            }
            &.active{
                .glyphicon-off{
                    color: @green !important;
                }
            }
        }
    }
    article{
        padding: 5px 10px 5px 20px;
        p{
            text-transform: uppercase;
            color: @light-black;
        }
    }
}
//----------------------------------------------addPage-------------------------
.mceEditor{
    width: 100%;
}
label{
    margin-top: 30px;
}
.side-nav{
    .fa-caret-down{
        float: right;
        margin-right: 20px;
        margin-top:3px;
    }
}
.navbar-inverse .navbar-nav li > a {
    color: #9d9d9d;
    line-height: 20px;
}
.navbar-nav li {
    float: left;
    a{
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
.nav div > li {
    position: relative;
    display: block;
    a{
        position: relative;
        display: block;
        padding: 10px 15px;
    }
}

.side-nav li ul li a:hover {
    color: #fff;
}
.side-nav li a:hover, .side-nav li a:focus {
    outline: none;
    background-color: #000 !important;
}
a{
    text-decoration: none;
    &:hover, &:visited, &:focus{
        text-decoration: none;
    }
}

.treeNode{background: url('../gfx/treeNode.jpg') right 37px no-repeat; position: relative;}
.treeNode span[class^='fa']{padding: 0; margin-top: 28px; margin-left: 10px; display: block; background: #fff; font-size: 0.8em; position: relative; z-index: 2;}
.treeNode.last .cover{display: block; position: absolute; bottom: -10px; left: 0; height: 46px; width: 40px; background: #fff; z-index: 1;}
.treeNode span[class^='fa']{
    width: 20px;
    &::before{
        padding: 5px;
        border: 1px solid #d5d5d5;
        background: @white;
    }
}