/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-07-05, 20:47:12
    Author     : Kamil
*/

@green:         #2CD60F;
@red:           #FF2200;
@white:         #fff;
@black:         #000;
@blue:          #5A0CE8;
@light-blue:    #3184FF;
@dark-blue:     #2f6fa7;
@gray:          #726D6D;
@light-black:   #282828;