/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-07-05, 22:01:11
    Author     : Kamil
*/

.title{
    font-size: 1.6em;
}
.header{
    
} 
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.border-bottom{
    padding-bottom: 10px;
    border-bottom: 1px solid @black;
}
.text-red{
    color: @red;
}

.site-message{
    width: 100%;
    min-height: 80px;
    position: fixed;
    top: -80px;
    left:0;
    z-index: 10000;
    padding: 0;
    margin: 0;
    border: none;    
    .transition(1s);
    .alert{
        text-align: center;
        margin: 0px;
        padding: 0px;
        padding-top: 30px;
        padding-bottom: 25px;
        border: none;
        border-radius: 0px;
    }
}
.site-message-show{
    top: 0px !important;
    .transition(2s);
}