{% extends '@'~miuze_user.base_front_template %}
{% block title %}
    {{ parent() }}
    <h1>{{ room.name }}</h1>
{% endblock title %}
{% block content %}
    <ul class="nav nav-tabs" role="tablist">
        {% if room.views is not empty %}
            {% for view in room.views %}
        <li class="nav-item">
            <a class="nav-link {{ loop.index == 1 ? 'active' : '' }}" id="a-tab-{{ view.id }}" data-toggle="tab" href="#tab-{{ view.id }}" role="tab" aria-controls="tab-{{ view.id }}" {{ loop.index == 1 ? 'aria-selected="true"' : '' }}>{{ view.name }}</a>
        </li>
            {% endfor %}
        {% endif %}
    </ul>
    <div class="tab-content" id="myTabContent">
        {% if room.views is not empty %}
        {% for view in room.views %}
        <div class="tab-pane fade {{ loop.index == 1 ? 'show active' : '' }}" id="tab-{{ view.id }}" role="tabpanel" aria-labelledby="a-tab-{{ view.id }}">
            <div class="row">
            {% for item in view.items %}
                {% if item.button is not null %}
                    {{ render_button(item.button) }}
                {% endif %}
                {% if item.temperature is not null %}
                    {{ render_temperature(item.temperature) }}
                {% endif %}
                {% if item.scene is not null %}
                    {{ render_scene(item.scene) }}
                {% endif %}
                {% if loop.index is divisible by(3) %}
            </div>
            <div class="row">
                {% endif %}
            {% endfor %}
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
{% endblock content %}
