<div class="col-xs-1 col-sm-6 col-md-5 col-lg-4 mt-2 mb-2">
    <div class="card panel panel-temperature">
        <div class="card-body">
            <h5 class="card-title text-center">{{ temperature.name }}</h5>
            <p>{{ temperature.value }}<sup>o</sup>C</p>
        </div>
    </div>
</div>
