<div class="col-xs-1 col-sm-6 col-md-5 col-lg-4 mt-2 mb-2">
    <div class="card panel panel-blind">
        <div class="card-body">
            <h5 class="card-title text-center">{{ button.name }}</h5>
            {% for item in button.buttonMarker  %}
                <a class="run-blind" href="{{ path('miuze_plc_change', {'id': item.marker.id, 'action': item.action}) }}"><i class="{{ item.class }}" aria-hidden="true"></i></a>
            {% endfor %}
        </div>
    </div>
</div>