<div class="col-xs-1 col-sm-6 col-md-5 col-lg-4 mt-2 mb-2">
    <div class="card panel panel-onoff">
        {% for item in button.buttonMarker %}
        {% if loop.index == 1 %}
        <div class="card-body">
            {% endif %}
            <h5 class="card-title text-center">{{ item.name }}</h5>
            <form action="{{ path('miuze_plc_change') }}" method="post" class="form"
                  id="form-light-click-{{ item.id }}">
                <div class="switch">
                    <input type="hidden" value="{{ item.address }}" name="output">
                    <input id="cmn-toggle-{{ item.address }}-{{ item.id }}" data-id="{{ item.id }}"
                           class="cmn-toggle cmn-toggle-round"
                           name="outputValue"
                           type="checkbox" {{ (item.value == true) ? 'checked="true"' : '' }}>
                    <label for="cmn-toggle-{{ item.address }}-{{ item.id }}"></label>
                </div>
            </form>
            {% if loop.index == 2 %}
        </div>
        <div class="card-footer">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
