{% extends '@'~miuze_user.base_template %}

{% block content %}
    {% form_theme form with ['bootstrap_3_layout.html.twig', '@MiuzeRoom/forms/theme/collection.html.twig'] %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal form-label-left'} }) }}
    <div class="form-group">
        {{ form_label(form.name, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} } ) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.room, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} } ) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.room) }}
            {{ form_errors(form.room) }}
        </div>
    </div>
    <div class="ln_solid"></div>
    <table class="table table-striped projects">
        <thead>
        <tr>
            <th colspan="2">Widget</th>
            <th style="width:40%">Edytuj</th>
        </tr>
        </thead>
        <tbody id="markers-fields-list" data-prototype="{{ form_widget(form.items.vars.prototype)|e }}"
               data-widget-tags="{{ '<tr class="js-list-item"></tr>'|e }}"
               data-widget-counter="{{ form.items|length }}">
        {% for item in form.items %}
            {% if item.vars['data'].temperature is not null %}
                {% set type = item.temperature %}
            {% endif %}
            {% if item.vars['data'].button is not null %}
                {% set type = item.button %}
            {% endif %}
            {% if item.vars['data'].scene is not null %}
                {% set type = item.scene %}
            {% endif %}
                <tr class="js-list-item">
                    <td>
                        {{ form_label(type, null, {'label_attr': {'class': 'control-label'} } ) }}
                    </td>
                    <td>
                        {{ form_widget(type) }}
                        {{ form_errors(type) }}
                    </td>
                    <td>
                        <a href="#" class="js-remove btn btn-danger btn-xs">
                            <i class="fa fa-trash"></i> Usuń
                        </a>
                    </td>
                </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td>
                <button type="button" class="add-another-collection-widget btn btn-info btn-xs" data-type="temperature" data-list-selector="#markers-fields-list">
                    <i class="fa fa-thermometer"></i> Dodaj czujnik
                </button>
                <button type="button" class="add-another-collection-widget btn btn-success btn-xs" data-type="button" data-list-selector="#markers-fields-list">
                    <i class="fa fa-plug"></i> Dodaj przycisk
                </button>
                <button type="button" class="add-another-collection-widget btn btn-warning btn-xs" data-type="scene" data-list-selector="#markers-fields-list">
                    <i class="fa fa-tag"></i> Dodaj scene
                </button>
            </td>
        </tr>
        </tfoot>
    </table>
    <div class="ln_solid"></div>
    <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <a href="{{ app.request.headers.get('referer')|default('/') }}" class="btn btn-warning"
               type="button"><i class="fa fa-backward"></i> Cofnij</a>
            {{ form_widget(form.submit) }}
            {{ form_widget(form.submitAndSort) }}
        </div>
    </div>

{% endblock %}
{% block js %}
    <script>
        jQuery(document).ready(function () {
            jQuery('.add-another-collection-widget').click(function (e) {
                setTimeout(function () {
                    selectRender();
                }, 1000)
                var list = jQuery(jQuery(this).attr('data-list-selector'));
                var counter = list.data('widget-counter') || list.children().length;

                var newWidget = list.attr('data-prototype');
                newWidget = newWidget.replace(/__name__/g, counter);
                counter++;
                list.data('widget-counter', counter);
                var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
                newElem.appendTo(list);
                var module = $(this).data('type');
                newElem.find($('td')).hide();
                newElem.find('.'+module).show();
            });
            var $wrapper = $('#markers-fields-list');
            $wrapper.on('click', '.js-remove', function (e) {
                e.preventDefault();
                $(this).closest('.js-list-item')
                    .fadeOut()
                    .remove();
            });
        });
    </script>
{% endblock js %}
