{% extends '@'~miuze_user.base_template %}
{% block title %}{{ parent() ~ ' - ' ~ action }}{% endblock %}
{% block buttons %}
    <li>
        <form method="post" style="visibility: hidden;" id="formSort"
              action="{{ path('miuze_room_view_sort-button') }}">
            <input type="hidden" name="sort" id="sort" value=""/>
        </form>
        <button type="submit" class="sortdata pull-right btn btn-sm btn-warning">Zapisz kolejność</button>
    </li>
{% endblock buttons %}
{% block content %}
    <table class="table table-striped projects">
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>Pomieszczenie</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ entity.name }}</td>
            <td>{{ entity.room.name }}</td>
        </tr>
        </tbody>
    </table>
    <table class="table table-striped projects">
        <thead>
        <tr>
            <th style="width: 1%">#</th>
            <th>Nazwa</th>
            <th>Typ</th>
        </tr>
        </thead>
        <tbody class="sortables">
        {% for item in list %}
            <tr id="{{ item.id }}">
                <td>{{ loop.index }}</td>

                {% if item.button is not null %}
                    <td>
                        <a>{{ item.button.name }}</a>
                    </td>
                    <td>
                        Przycisk
                    </td>
                {% endif %}
                {% if item.temperature is not null %}
                    <td>
                        <a>{{ item.temperature.name }}</a>
                    </td>
                    <td>
                        Czujnik
                    </td>
                {% endif %}
                {% if item.scene is not null %}
                    <td>
                        <a>{{ item.scene.name }}</a>
                    </td>
                    <td>
                        Scena
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
