{% extends '@'~miuze_user.base_template %}
{% block title %}{{ parent() ~ ' - ' ~ action }}{% endblock %}
{% block buttons %}
    <li>
        <form method="post" style="visibility: hidden;" id="formSort" action="{{ path('miuze_room_view_sort')}}">
            <input type="hidden" name="sort" id="sort" value="" />
        </form>
        <button type="submit" class="sortdata pull-right btn btn-sm btn-warning">Zapisz kolejność</button>
    </li>
{% endblock buttons %}
{% block content %}
    <table class="table table-striped projects">
        <thead>
        <tr>
            <th style="width: 1%">#</th>
            <th>Nazwa</th>
            <th>Pomieszczenie</th>
            <th>Ilość przypisanych przycisków</th>
            <th style="width:40%">Edytuj</th>
        </tr>
        </thead>
        <tbody class="sortables">
        {% for item in list %}
            <tr id="{{ item.id }}">
                <td>{{ loop.index }}</td>
                <td>
                    <a>{{ item.name }}</a>
                </td>
                <td>
                    <a>{{ item.room.name }}</a>
                </td>
                <td>
                    <a>{{ item.buttons |length }}</a>
                </td>
                <td>
                    <a href="{{ path('miuze_room_view_edit', {'id': item.id}) }}" class="btn btn-success btn-xs"><i
                                class="fa fa-edit"></i> Edytuj </a>
                    <a href="{{ path('miuze_room_view_details', {'id': item.id}) }}" class="btn btn-info btn-xs"><i
                                class="fa fa-sitemap"></i> Szczegóły </a>
                    <a href="{{ path('miuze_room_view_delete', {'id': item.id}) }}" class="btn btn-danger btn-xs"><i
                                class="fa fa-trash"></i> Usuń </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}