<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="Kamil Zawalski">


    <title>SmartHome</title>

    <!-- Bootstrap core CSS -->
    {% block stylesheet %}
        <link href="{{ asset('bundles/miuzeadmin/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/miuzeadmin/css/font-awesome.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/miuzeadmin/css/nprogress.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/miuzeadmin/vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/miuzeadmin/css/import/select2.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/miuzeadmin/css/custom.min.css') }}" rel="stylesheet">
    {% endblock stylesheet %}

</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        {% include '@MiuzeAdmin/common/navbar.html.twig' %}
        {% include '@MiuzeAdmin/common/sidebar.html.twig' %}


        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="clearfix"></div>
                {% include '@MiuzeAdmin/common/messages.html.twig' %}
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{{ module }} <small>{{ action }}</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            {% block buttons %}
                            {% endblock buttons %}
                            <li></li>
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br>
                        {% block content %}
                        {% endblock content %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->


        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

{% include '@MiuzeAdmin/common/footer_wrapper.html.twig' %}
<script src="{{ asset('bundles/miuzeadmin/js/custom.js') }}"></script>
{% block js %}
{% endblock js %}
</body>
</html>