{% extends '@'~miuze_user.base_template %}
{% block title %}{{ parent() ~ ' - ' ~ action }}{% endblock %}
{% block buttons %}
    <li>
        <form method="post" style="visibility: hidden;" id="formSort" action="{{ path('miuze_room_room_sort')}}">
            <input type="hidden" name="sort" id="sort" value="" />
        </form>
        <button type="submit" class="sortdata pull-right btn btn-sm btn-warning">Zapisz kolejność</button>
    </li>
{% endblock buttons %}
{% block content %}
    {% if list is empty %}
        <div class="item-list">
            <article>
                <p>Brak pomieszczeń</p>
            </article>
        </div>
    {% else %}
        <table class="table table-striped projects">
            <thead>
            <tr>
                <th style="width: 1%">#</th>
                <th>Nazwa</th>
                <th>Ilość przypisanych widoków</th>
                <th>Domyślny</th>
                <th style="width:40%">Edytuj</th>
            </tr>
            </thead>
            <tbody class="sortables">
            {% for item in list %}
                <tr id="{{ item.id }}">
                    <td>{{ loop.index }}</td>
                    <td>
                        <a>{{ item.name }}</a>
                    </td>
                    <td>
                        <a>{{ item.views |length }}</a>
                    </td>
                    <td>
                        <a href="{{ path('miuze_room_room_favourite', {'id': item.id}) }}">
                            <i class="fa fa-heart{{ item.main == 0 ? '-o': '' }}" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('miuze_room_room_edit', {'id': item.id}) }}" class="btn btn-success btn-xs"><i
                                    class="fa fa-edit"></i> Edytuj </a>
                        <a href="{{ path('miuze_room_room_delete', {'id': item.id}) }}" class="btn btn-danger btn-xs"><i
                                    class="fa fa-trash"></i> Usuń </a>
                        <a href="{{ path('miuze_room_view_room', {'id': item.id}) }}" class="btn btn-info btn-xs"><i
                                    class="fa fa-sitemap"></i> Pokaż widoki </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock content %}