{% extends '@'~miuze_user.base_template %}
{% block content %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal form-label-left'} }) }}
    <div class="form-group">
        {{ form_label(form.name, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} } ) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.action, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} } ) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_widget(form.action) }}
            {{ form_errors(form.action) }}
        </div>
    </div>
    <div class="ln_solid"></div>
    <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <a href="{{ app.request.headers.get('referer')|default('/') }}" class="btn btn-primary" type="button">Cofnij</a>
            <button class="btn btn-primary" type="reset">Wyczyść</button>
            {{ form_widget(form.submit) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}