{% extends '@'~miuze_user.base_template %}
{% block title %}{{ parent() ~ ' - ' ~ action }}{% endblock %}
{% block content %}
    {% if list is empty %}
        <div class="item-list">
            <article>
                <p>Brak typów</p>
            </article>
        </div>
    {% else %}
        <table class="table table-striped projects">
            <thead>
            <tr>
                <th style="width: 1%">#</th>
                <th>Nazwa</th>
                <th>Kod akcji</th>
                <th style="width:40%">Edytuj</th>
            </tr>
            </thead>
            <tbody class="sortables">
            {% for item in list %}
                <tr id="{{ item.id }}">
                    <td>{{ item.id }}</td>
                    <td>
                        <a>{{ item.name }}</a>
                    </td>
                    <td>
                        <a>{{ item.action }}</a>
                    </td>
                    <td>
                        <a href="{{ path('miuze_plc_button-type_edit', {'id': item.id}) }}" class="btn btn-success btn-xs"><i
                                    class="fa fa-edit"></i> Edytuj </a>
                        <a href="{{ path('miuze_plc_button-type_delete', {'id': item.id}) }}" class="btn btn-danger btn-xs"><i
                                    class="fa fa-trash"></i> Usuń </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock content %}