{% form_theme form _self %}
{% block form_row %}
    <div class="col-xs-12 col-sm-6 col-md-4">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock form_row %}