<script src="{{ asset('bundles/miuzeadmin/vendors/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/miuzeadmin/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/miuzeadmin/vendors/fastclick/lib/fastclick.js') }}"></script>
<script src="{{ asset('bundles/miuzeadmin/vendors/nprogress/nprogress.js') }}"></script>
<!-- iCheck -->
<script src="{{ asset('bundles/miuzeadmin/vendors/iCheck/icheck.min.js') }}"></script>
<script src="{{ asset('bundles/miuzeadmin/js/select2.full.min.js') }}"></script>
<script src="{{ asset('bundles/miuzeadmin/js/jquery_ui.js') }}"></script>
