{% if app.session.flashbag.peekAll()|length %}
    <div class="site-message alert">
        {% for type, messages in app.session.flashbag.all() %}
            {% for msg in messages%}
                <div class="alert alert-{{ type }} alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    {{ msg }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}

