<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                       aria-expanded="false">
                        {% if app.user %}
                            {% if app.user.avatar is not null %}
                                <img src="{{ app.user.path ~ app.user.avatar }}" alt="">
                            {% endif %}
                            {{ app.user.firstName is not null ? app.user.firstName ~' '~ app.user.lastName : '' }}
                        {% endif %}
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a href="{{ path('miuze_user_account_settings') }}"> Ustawienia</a></li>
                        <li><a href="{{ path('miuze_user_account_change-password') }}">Zmień hasło</a></li>
                        <li><a href="{{ path('_logout') }}"><i class="fa fa-sign-out pull-right"></i> Wyloguj</a></li>
                    </ul>
                </li>

                {#<li role="presentation" class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-envelope-o"></i>
                        <span class="badge bg-green">6</span>
                    </a>
                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                        <li>
                            <a>
                                <span class="image"><img src="{{ asset('bundles/miuzesettings/images/img.jpg') }}" alt="Profile Image" /></span>
                                <span>
                                    <span>John Smith</span>
                                    <span class="time">3 mins ago</span>
                                </span>
                                <span class="message">
                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>#}
            </ul>
        </nav>
    </div>
</div>
<!-- /top navigation -->
{#<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/admin/pages/list">
        <img style="height: 30px;" src="" alt="logo"/>
    </a>
</div>
<!-- Top Menu Items -->
<ul class="nav navbar-right top-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ app.user.name }} <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <a href="#"><i class="fa fa-fw fa-gear"></i> Ustawienia</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="{{ path('_logout') }}"><i class="fa fa-fw fa-power-off"></i> Wyloguj</a>
            </li>
        </ul>
    </li>
</ul>
#}