<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="{{ path('miuze_room_room_index') }}" class="site_title"><i class="fa fa-home"></i> <span>SilesiaSmart</span></a>
        </div>

        <div class="clearfix"></div>
        {% if app.user is not null %}
            <!-- menu profile quick info -->
            <div class="profile clearfix">
                {% if app.user.avatar is not null %}
                    <div class="profile_pic">
                        <img src="{{ app.user.path ~ app.user.avatar }}" alt="Zdjęcie profilowe"
                             class="img-circle profile_img">
                    </div>
                {% endif %}
                <div class="profile_info">
                    {% if (app.user.firstName is not null) %}
                        <span>Cześć,</span>
                        <h2>{{ app.user.firstName ~' '~ app.user.lastName }}</h2>
                    {% else %}
                        <span>Cześć</span>
                    {% endif %}
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- /menu profile quick info -->
        {% endif %}
        <br/>
{#        {% if 'ROLE_ADMIN' in app.user.roles %}#}
            <!-- sidebar menu -->
            {{ render_menu() }}
{#        {% endif %}#}

    </div>
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Strona główna" href="{{ path('miuze_room_room_index') }}">
            <span class=" glyphicon glyphicon-menu-left" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Zmień hasło"
           href="{{ path('miuze_user_account_change-password') }}">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Ustawienia"
           href="{{ path('miuze_user_account_settings') }}">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Wyloguj" href="{{ path('_logout') }}">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
    </div>
    <!-- /menu footer buttons -->
</div>
