{% extends '@'~miuze_user.base_front_template %}
{% block title %}
    {{ parent() }}
    <h1>{{ module ~ ' | ' ~ action }}</h1>
{% endblock title %}
{% block content %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="bs-callout bs-callout-info" id="callout-type-b-i-elems">
            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_errors(form.email) }}
                {{ form_widget(form.email) }}
            </div>
            <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_errors(form.name) }}
                {{ form_widget(form.name) }}
            </div>
            <div class="form-group">
                {{ form_label(form.products) }}
                {{ form_errors(form.products) }}
                {{ form_widget(form.products) }}
            </div>
            <div class="form-group">
                {{ form_label(form.content) }}
                {{ form_errors(form.content) }}
                {{ form_widget(form.content) }}
            </div>
            <span class="btn-block">
                {{ form_widget(form.submit) }}
            </span>
            <span class="btn-block">
            <a href="{{ app.request.headers.get('referer')|default('/') }}" class="btn btn-warning"
               type="button">Cofnij</a>
            </span>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock content %}
