{% extends '@'~miuze_user.base_front_template %}
{% block title %}
    {{ parent() }}
    <h1>{{ module ~ ' | ' ~ action }}</h1>
{% endblock title %}
{% block content %}
    {% if list is empty %}
        <div class="alert alert-warning">
            Brak list
            <br/>
            <a href="{{ path('miuze_shopping_shopping_add') }}" class="btn btn-sm btn-warning">Dodaj listę</a>
        </div>
    {% else %}
        <div class="row">
            <div class="col">
                <a href="{{ path('miuze_shopping_shopping_add') }}" class="btn btn-sm btn-warning pull-right mt-2">Dodaj listę</a>
            </div>
        </div>
        <div id="accordion">
            {% for item in list %}
                <div class="card card-{{ item.id }}" >
                    <div class="card-header" id="heading-{{ item.id }}">
                        <h5 class="mb-0">
                            {{ item.name }}
                            <span class="pull-right">
                                <div class="btn-group">
                                    <a href="{{ path('miuze_shopping_shopping_edit', {'id': item.id}) }}" class="btn btn-xs btn-warning">Edytuj</a>
                                    <a href="{{ path('miuze_shopping_shopping_delete', {'id': item.id}) }}" class="btn btn-xs btn-danger confirm ajax-shopping-delete" data-id="{{ item.id }}">Usuń</a>
                                </div>
                            </span>
                        </h5>
                    </div>

                    <div id="collapse-{{ item.id }}" class="collapse show" aria-labelledby="heading-{{ item.id }}" data-parent="#accordion">
                        <div class="card-body">
                            {{ item.content |raw }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock content %}
