@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-Light.ttf");
  font-weight: lighter;
}


@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Roboto/Roboto-Light.ttf");
  font-weight: lighter;
}

@color-dark: #474747;
@color-main: #03da51;
@color-main-hover: #8ce196;
@color-red: #fb4b4b;
@color-bg: #f4f3f4;
.btn-success {
  background-color: @color-main;
  border-color: @color-main;

  &:hover {
    background-color: @color-main-hover;
    border-color: @color-main-hover;
  }
}

.color-red {
  color: @color-red;
}

.color-green {
  color: @color-main;
}

.color-hover-white {
  &:hover {
    color: #fff;
  }
}

.color-hover-red {
  &:hover {
    color: @color-red;
  }
}

body {
  font-family: Montserrat;
  font-weight: lighter;
  overflow: hidden;
  display: block;
}

body, html, .main-container {
  height: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.main-container {
  margin-top: 35px;
  padding-bottom: 15px;
}

.main-container > .row {
  height: inherit;
}

nav {
  overflow: hidden;
  padding: 10px 0px;
  box-shadow: 0px -11px 16px 2px #0e0e0e;
  z-index: 40;
  position: fixed;
  width: 100%;
  background: #fff;
  top: 0px;

  h1 {
    text-align: center;
    font-size: .8rem;
    text-transform: uppercase;
    margin: 0px;
  }

  ul {
    padding: 0px;
    display: block;
    float: left;
    position: absolute;
    list-style: none;
    margin: 0px;
    top: 300%;
    left: 0px;
    width: 100%;
    background: #fff;
    z-index: 40;
    transition: .4s;
    opacity: 0;
  }

  li {
    float: left;

    &:first-of-type {
      margin-left: 55px;
    }

    &.fl-right {
      float: right;
    }

    a {
      position: relative;
      display: block;
      padding: 8px 20px;
      color: #0e0e0e;
      transition: .4s;
      text-decoration: none;

      &:after {
        position: absolute;
        content: '';
        left: 50%;
        top: 0px;
        width: 0px;
        height: 2px;
        background: #fefefe;
        transition-delay: .3s;
        transition: .6s;
      }

      &:hover {
        color: #fefefe;
        background: @color-main;
        text-decoration: none;

        &:after {
          width: 100%;
          left: 0px;
        }
      }
    }
  }

  &.active {
    ul {
      top: 0px;
      opacity: 1;
    }
  }
}

.btn-navigation {
  position: absolute;
  left: 15px;
  top: 10px;
  float: left;
  width: 35px;
  z-index: 50;
  cursor: pointer;

  span {
    clear: both;
    float: left;
    display: block;
    background: #0e0e0e;
    height: 1px;
    transition: .4s;

    &:nth-of-type(1) {
      width: 80%;
    }

    &:nth-of-type(2) {
      width: 50%;
      margin: 6px 0px;
    }

    &:nth-of-type(3) {
      width: 30%;
    }
  }

  &:hover span:nth-of-type(3) {
    width: 80%;
  }
}

a {
  color: #000;
}

aside, main {
  padding-top: 0px;
}

aside {
  background: #f4f3f4;
}

main {
  background: #fff;
  min-height: 100vh;
  box-shadow: -11px 4px 32px -26px #000;
  z-index: 0;
}


.box-room {
  width: 100%;
  position: relative;
  margin-top: 25px;

  figure {
    height: 145px;
    display: flex;
    align-items: flex-end;
    padding-left: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

    span {
      display: block;
      position: absolute;
      left: 25px;
      top: 15px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #e0e0e0;

    }

    figcaption {
      font-size: 1.4rem;
      font-weight: bold;
      color: #fff;
      margin-bottom: 15px;
    }
  }

  .info-room {
    height: 70px;
    background: #fff;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 15px;
    text-align: center;

    p {
      margin: 0px;
    }

    .temp {
      font-size: 1.3rem;
      font-weight: bold;
      color: @color-dark;
      float: left;
      width: 50%;
      display: block;

      &:after {
        position: relative;
        content: '';
        border-right: 2px solid #e0e0e0;
        height: 40px;
        float: right;
      }
    }

    .io {
      float: left;
      width: 50%;
      font-size: 1.3rem;
      font-weight: bold;
      color: @color-dark;
      text-decoration: none;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      .transition(.4s);

      &:hover {
        background: @color-main;
        color: #fff;
        border-top-right-radius: 5%;
        border-bottom-right-radius: 5%;
      }
    }
  }
}


.room-main-info {
  font-size: .9rem;
  padding: 0px 15px;

  time {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
    display: block;
    width: 100%;
    text-align: right;
    color: #e0e0e0;

  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    color: #fff;
    margin-top: 15px;
    box-shadow: 0px 0px 20px -5px #000;
    background: rgba(255, 0, 174, 1);
    background: -moz-linear-gradient(left, rgba(255, 0, 174, 1) 0%, rgba(182, 39, 230, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 0, 174, 1)), color-stop(100%, rgba(182, 39, 230, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 0, 174, 1) 0%, rgba(182, 39, 230, 1) 100%);
    background: -o-linear-gradient(left, rgba(255, 0, 174, 1) 0%, rgba(182, 39, 230, 1) 100%);
    background: -ms-linear-gradient(left, rgba(255, 0, 174, 1) 0%, rgba(182, 39, 230, 1) 100%);
    background: linear-gradient(to right, rgba(255, 0, 174, 1) 0%, rgba(182, 39, 230, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00ae', endColorstr='#b627e6', GradientType=1);
  }

  h2 {
    font-size: 1.6rem;
    text-align: left;
    margin-top: 25px;
    font-weight: bold;
    color: @color-dark;
  }

  p {
    width: 50%;
    float: left;
    font-weight: normal;
    font-size: 1.4rem;
    margin-top: 15px;
    color: @color-dark;

    &:first-of-type {
      border-right: 2px solid #e0e0e0;
      margin-top: 45px;
      font-size: 1.6rem;
    }

    &:last-of-type {
      font-size: 3rem;
    }
  }
}

hr {
  border: none;
  height: 2px;
  color: #e0e0e0; /* old IE */
  background-color: #e0e0e0; /* Modern Browsers */
}

.box-switch {
  color: @color-dark;

  .icon-title {
    background: #f6f6f6;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border: 1px solid #e0e0e0;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justyfy-content: center;
    padding-top: 25px;

    i {
      font-size: 4rem;
    }

    p {
      font-weight: bold;
      margin-top: 15px;
    }
  }

  .socket {
    background: #fff;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border: 1px solid #e0e0e0;
    border-top: none;
  }
}

/* switch */
.switch {
  padding: 15px 0px;

  label {
    display: block;
    margin: 0 auto;
  }
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 55px;
  height: 25px;
  background-color: #dddddd;
  border-radius: 60px;
}

input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}

input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s;
}

input.cmn-toggle-round + label:after {
  width: 25px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}

input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}

input.cmn-toggle-round:checked + label:after {
  margin-left: 28px;
}

/* end switch */
.box-switch {
  margin-bottom: 25px;
}

.ajax-message {
  position: absolute;
  bottom: -100%;
  right: 0px;
  opacity: 0;
  visibility: hidden;
  .transition(.4s);

  &.active {
    bottom: 20px;
    opacity: 1;
    visibility: visible;
  }
}

.mCS-dark-3.mCSB_scrollTools .mCSB_dragger {
  &:hover, &.mCSB_dragger_onDrag {
    .mCSB_dragger_bar {
      background-color: @color-main-hover;
    }
  }

  .mCSB_dragger_bar {
    background-color: @color-main;
  }
}

.btn-mobile-navigation {
  display: none;
  position: absolute;
  right: 15px;
  top: 10px;
  float: left;
  width: 35px;
  z-index: 50;
  cursor: pointer;
  span {
      clear: both;
      float: right;
      display: block;
      background: #0e0e0e;
      height: 1px;
      transition: 0.4s;
      &:first-of-type {
          width: 80%;
      }

      &:nth-of-type(2) {
          width: 50%;
          margin: 6px 0px;
      }

      &:nth-of-type(3) {
          width: 30%;
      }
  }
}