@media (max-width: 960px) {
  nav {
    &.active {
      ul {
        position: relative;

        li {
          float: none;
          text-align: center;

          &:first-of-type {
            margin-left: 0px;
          }

          &:last-of-type, &:nth-last-of-type(2) {
            float: left;
            width: 50%;
            display: inline-block;
          }
        }
      }
    }
  }

  aside {
    position: fixed !important;
    right: -100%;
    z-index: 1;
    top: 0px;
    overflow: auto;
    .transition(.4s);

    &.mt-3 {
      margin-top: 0px !important;
    }

    &.active {
      right: 0px;
    }
  }

  main {
    overflow: auto;
  }

  .btn-mobile-navigation {
    &.mobile {
      display: block;
    }
  }
}
