/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019-01-12, 21:35:38
    Author     : Kamil
*/

.pull-right{
    float: right;
}
#accordion{
    .card{
        margin-top:5px;
        &:first-of-type{
            margin-top: 20px;
        }
    }
    .btn-link{
        color: @color-dark;
        &:hover, &:active, &:visited, &:focus{
            color:@color-dark;
            text-decoration: none;
        }
    }
}
.add-note{
    textarea{
        min-height: 400px;
    }
}