/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-12-28, 23:21:18
    Author     : Kamil
*/
.nav-tabs{
    width: 100%;
    .nav-link{
        .transition(.4s);
        &.active, &:hover{
            background: @color-main;
            color: #fff;
        }
    }
}
.panel{
    background: @color-bg;
    height: 100%;
    .card-body{
        display: flex;
        align-items: center;
    }
    h5{
        width: 70%;
        padding-right: 15px;
        margin-bottom: 0px;
    }
    &.panel-onoff{
        form{
            width: 30%;
            padding-left: 15px;
        }
    }
    &.panel-blind{
        a{
            color: @color-main;
            font-size: 1.8em;
            .transition(.4s);
            &:hover, &:active{
                color: @color-main-hover;
                i{
                    border-color: @color-main-hover;
                }
            }
            &:nth-of-type(1){
                margin-right: 10px;
            }
            &:nth-of-type(2){
                font-size: 1em;
                margin-bottom: 3px;
                i{
                    padding: 6px 8px;
                }
            }
            &:nth-of-type(3){
                margin-left: 10px;
            }
            i{
                border: 2px solid @color-main;
                border-radius: 4px;
                padding: 0px 6px;
            }
        }
    }
    &.panel-ledW{
        .form-w{
            width: 100%;
        }
        .card-body{
            flex-direction: column;
        }
        .rangeslider--horizontal{
            margin-top: 20px;
            margin-bottom: 20px;
        }
        
    }
    &.panel-ledRGB{
        input{
            width: 50%;
            float: left;
            border: none;
            &:first-of-type{
                padding: 2px 2px 3px 2px;
            }
        }
        .btn{
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
    }
    &.panel-ledRGBW{
        .form-rgbw{
            width: 100%;
        }
        .card-body{
            flex-direction: column;
        }
        .rangeslider--horizontal, .jscolor{
            border: none;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    &.panel-temperature{
        p{
            margin-bottom: 0px;
        }
        
    }
}

/* switch */
.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}
input.cmn-toggle-round + label {
    padding: 2px;
    width: 85px;
    height: 40px;
    background-color: #dddddd;
    border-radius: 60px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}
input.cmn-toggle-round + label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 60px;
    transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
    width: 40px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
    background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
    margin-left: 45px;
}
/* end switch */

.footer-item{
    font-size: .8em;
    overflow: auto;
    padding-bottom: 5px;
    &:first-of-type{
        padding-bottom: 10px;
    }
    p, form{
        float: left;
        display: block;
    }
    p{
        width: 70%;
        margin-bottom: 0px;
    }
    form{
        width: 30%;
    }
    input.cmn-toggle-round + label{
        height: 20px;
        width: 40px;
        &:after{
            width: 19px;
        }
    }
    .switch{
        padding: 0px;
    }
}