html,
body {
  height: 100%;
}

.login-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-bg {
  background: rgba(255, 255, 255, .6);
  padding: 0px 15px;
}

.form-signin {
  /*font-family: Roboto;*/
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background: url('../gfx/login-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;

  .alert {
    padding: 10px;
    color: #fff;

    &.alert-error {
      border: 1px solid #ff6868;
      background: rgba(255, 100, 100, .8);
    }
  }

  p {
    text-align: center;
  }

  input[type="text"], input[type="password"] {
    background: transparent;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #0a0a0a;
    margin-top: 20px;
    position: relative;
    margin-top: 20px .transition(.4s);


    &:hover, &:focus {
      background: transparent;
      box-shadow: none;
      border-color: #0a0a0a;

      &:after {
        width: 100%;
      }
      &:focus {
        outline: none;
      }
    }
    .input:focus+.underline {
      transform: scale(1);
    }

    .underline {
      background-color: dodgerblue;
      display: inline-block;
      height: 2px;
      left: 50px;
      margin-top: -4px;
      position: absolute;
      top: 185px;
      -webkit-transform: scale(0, 1);
      transform: scale(0, 1);
      -webkit-transition: all 0.5s linear;
      transition: all 0.5s linear;
      width: 202px;
    }
  }

  .btn{
    padding: 15px 100px;
    margin:0px;
    color: #BBBBBB;
    background: #0a0a0a;
    border-radius: 0px;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display:inline-block;

  }

  .btn::before {
    content: '';
    position: absolute;
    bottom: 50%;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #BBBBBB;
    display: block;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
  }

  .btn:hover::before {
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
  }

  .checkbox {
    padding: 10px 30px;
    margin: 10px 0px;
  }

  .custom-checkbox-slider {
    position: relative;
    margin-right: 40px;

    &:checked {
      &:before {
        transform: translateX(150%);
      }

      &:after {
        background: #0a0a0a;
      }
    }

    &:after, &:before {
      content: '';
      top: -2px;
      left: -2px;
      position: absolute;
      transition: all 0.3s ease-in-out;
    }

    &:after {
      background: #BBBBBB;
      width: 50px;
      height: 20px;
      border-radius: 10px;
      outline: none;
    }

    &:before {
      width: 18px;
      height: 18px;
      left: 1px;
      top: -1px;
      border-radius: 50%;
      background: #fff;
      z-index: 1;
      outline: none;
    }
  }
}

