<form action="{{ path('miuze_plc_change') }}" method="post" class="form"
      id="form-light-click-{{ item.id }}">
    <div class="switch">
        <input type="hidden" value="{{ item.id }}" name="buttonMarker">
        <input id="cmn-toggle-{{ item.marker.address }}-{{ item.marker.id }}" data-id="{{ item.id }}"
               class="cmn-toggle cmn-toggle-round"
               name="value"
               type="checkbox" {{ (item.marker.value == true) ? 'checked="true"' : '' }}>
        <label for="cmn-toggle-{{ item.marker.address }}-{{ item.marker.id }}"></label>
    </div>
</form>